@page "/Grids/RowSelection"
@using DevExpress.Client.Services
@using DevExpress.Shared.VMs
@inject ICustomerClient CustomerClient

<div class="d-flex">
    <h3 class="mb-0">Grid - Rows Selection</h3>
    <button class="btn btn-primary ms-auto" @onclick="Reload">Refresh</button>
</div>
<p class="mb-0 text-muted">Click to select one row, Ctrl or Shift to select multi rows</p>
<p class="text-muted">You can select from multi page</p>
<DxGrid Data="@Data" @ref="Grid" AllowSelectRowByClick="true" SelectedDataItemsChanged="StateHasChanged">
    <Columns>
        <DxGridDataColumn Caption="#" Width="70px" FieldName="@nameof(DimCustomerVM.CustomerKey)" />
        <DxGridDataColumn Caption="Key" Width="70px" FieldName="@nameof(DimCustomerVM.GeographyKey)" />
        <DxGridDataColumn FieldName="@nameof(DimCustomerVM.FullName)" />
        <DxGridDataColumn Width="90px" FieldName="@nameof(DimCustomerVM.BirthDate)" DisplayFormat="d/M/yyyy" />
        <DxGridDataColumn Width="100px" FieldName="@nameof(DimCustomerVM.YearlyIncome)" DisplayFormat="C" />
        <DxGridDataColumn Width="70px" FieldName="@nameof(DimCustomerVM.MaritalStatus)">
            @* GroupIndex="0" *@
            <CellDisplayTemplate>
                @{
                    var customer = context.DataItem as DimCustomerVM;
                }
                <span>@(customer?.MaritalStatus == 'M' ? "Marid" : "Single")</span>
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn Width="70px" FieldName="@nameof(DimCustomerVM.Gender)">
            @* GroupIndex="1" *@
            <CellDisplayTemplate>
                @{
                    var customer = context.DataItem as DimCustomerVM;
                }
                <span>@(customer?.Gender == "M" ? "Mail" : "Femail")</span>
            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>
    <TotalSummary>
        <DxGridSummaryItem FieldName="@nameof(DimCustomerVM.FullName)" DisplayText="@($"Selected items: {Grid.SelectedDataItems.Count.ToString()}")" ValueDisplayFormat="N" SummaryType="GridSummaryItemType.Custom" />
    </TotalSummary>
</DxGrid>
@code {
    List<DimCustomerVM> Data { get; set; }
    IGrid Grid;
    protected override async Task OnInitializedAsync()
    {
        Data = await CustomerClient.GetDimCustomer();
    }

    void Reload()
    {
        Grid.Reload();
    }
}
